@import url('https://fonts.googleapis.com/css?family=Roboto');

body {  
    font-size: 14px;
    font-family: 'Roboto', sans-serif; 
}
.text-center {
    padding: 40px 15px;
    text-align: center;
    color: black;
}

.footer{
    position:absolute;
    color: white;
    bottom:0;
    width:100%;
    height: 30px;
    background-color: #000;
    text-align: center;
}
